<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <!--<a class="nav-item is-brand" href="#">
        中日報告
      </a>-->
    </div>

    <div class="nav-center">
      <a class="nav-item" href="#">
        <span class="icon">
          <a class="nav-item is-brand" href="#">
            <i class="fa fa-comment-o"></i>
            中日報告
          </a>
        </span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item" href="#">
        <%= current_user.name %>
      </a>

      <span class="nav-item">
        <% if user_signed_in? %>
            <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'button'  %>
        <% end %>
      </span>
    </div>
  </div>
</nav>


<div class="container has-text-centered center-alert">
  <div class="columns">
    <div class="column is-half">
      <h3 class="title">残り稼働時間</h3>
    </div>
    <div class="column is-half">
      <h3 class="title">残営業日</h3>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <h3 class="subtitle js-reminning-work-time"></h3>時間
    </div>
    <div class="column is-half">
      <h3 class="subtitle js-reminning-work-day"></h3>日
    </div>
  </div>
</div>

<div class="container nakanichi-form-wrap">
  <label class="label js-current-date">
    <%= Time.now.strftime('%Y/%m/%d') %>
  </label>までの実績
  <p class="control has-icon">
    <input class="input js-achievements-hour" type="text" placeholder="稼働実績を入力(例: 80)" required>
    <i class="fa fa-laptop"></i>
  </p>
  <label class="label">
    <%= Time.now.strftime('%Y/%m/%d') %>
  </label>以降の有給休暇取得予定日
  <p class="control has-icon">
    <input class="input js-paid-leave-plan" type="text" placeholder="有給休暇予定日数を入力(例: 1)" required>
    <i class="fa fa-plane"></i>
  </p>
  <p class="control">
    <button class="button is-success">
      報告する
    </button>
  </p>
</div>
